.joincontainer {
  background-color: #faf9f6;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  height: 100vh;
  width: 100vw;
  position: relative;
}

.join-header {
  background: transparent;
  color: #faf9f6;
}
.innerdiv {
  border: 2px solid white;
  border-radius: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #6f00ff;
  padding: 3%;
  align-items: center;
  text-align: center;
}
.input-div {
  background-color: transparent;
  margin: 5%;
}

input {
  padding: 2%;
}
.button {
  --width: 9.375rem;
  --timing: 2s;
  border: 0;
  width: var(--width);
  padding-block: 1em;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  background: rgb(64, 192, 87);
  transition: all 0.2s;
  border-radius: 3px;
}

.button:hover {
  background-image: linear-gradient(
    to right,
    rgb(250, 82, 82),
    rgb(250, 82, 82) 16.65%,
    rgb(190, 75, 219) 16.65%,
    rgb(190, 75, 219) 33.3%,
    rgb(76, 110, 245) 33.3%,
    rgb(76, 110, 245) 49.95%,
    rgb(64, 192, 87) 49.95%,
    rgb(64, 192, 87) 66.6%,
    rgb(250, 176, 5) 66.6%,
    rgb(250, 176, 5) 83.25%,
    rgb(253, 126, 20) 83.25%,
    rgb(253, 126, 20) 100%,
    rgb(250, 82, 82) 100%
  );
  animation: var(--timing) linear dance6123 infinite;
  transform: scale(1.1) translateY(-1px);
}

@keyframes dance6123 {
  to {
    background-position: var(--width);
  }
}

@media screen and (max-width: 800px) {
  input {
    width: 90%;
  }
  .innerdiv {
    padding: 9%;
  }
}
